<%= form_with(model: @tag, local: true) do |form| %>
  <%= form.hidden_field :site_id, id: :site_id, :value => @site.id %>

  <%= form.label :タグ名, :class => "label" %>
  <p class="control">
    <%= form.text_field :name, :class => "input", placeholder: "name.." %>
  </p>
  <br>
  <p class="control">
    <%= form.submit "submit", data: { disable_with: "sending..."}, :class => "button is-primary" %>
  </p>
<% end %>
