<%= form_with(model: @site, local: true) do |form| %>
  <div class="box">
    <%= form.hidden_field :user_id, :value => @user.id %>
    <%= form.label :サイト名, :class => "label" %>
    <p class="control">
      <%= form.text_field :name, :class => "input", placeholder: "name.." %>
    </p>
    <%= form.label :サイト説明, :class => "label" %>
    <p class="control">
      <%= form.text_area :caption, :class => "textarea",placeholder: "10 lines of textarea", rows: "10" %>
    </p>
    <%= form.label :公開ステータス, :class => "label" %>
    <p class="control">
      <%= form.check_box :release_status, :class => "checkbox" %>
    </p>
    <hr>
    <p class="control">
      <%= form.submit "submit", data: { disable_with: "sending..."}, :class => "button is-primary" %>
    </p>
  </div>
<% end %>
